<!-- <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
           <div class="mb-3 col-lg-4">
            <label for="nom-fr" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom-fr" name="nom-fr" placeholder="name@example.com"
                formControlName="nomFr">
          
        </div>
        <div class="mb-3 col-lg-4">
            <label for="nom-ar" class="form-label">Nom en arabe</label>
            <input type="text" class="form-control" id="" name="nom-ar" placeholder="name@example.com"
                formControlName="nomAr">
        </div> 
        </div>
        

        <div class="mb-3">
            <label for="prenom-fr" class="form-label">prenom</label>
            <input type="text" class="form-control" id="prenom-fr" name="prenom-fr" placeholder="name@example.com"
                formControlName="prenomFr">
        </div>

        <div class="mb-3">
            <label for="prenom-ar" class="form-label">prenom en arabe</label>
            <input type="text" class="form-control" id="prenom-ar" name="prenom-ar" placeholder="name@example.com"
                formControlName="prenomAr">
        </div>

        <div class="mb-3">
            <label for="cin" class="form-label">CIN</label>
            <input type="text" class="form-control" id="cin" name="cin" placeholder="name@example.com"
                formControlName="cin">
        </div>

        <div class="mb-3">
            <label for="profession" class="form-label">Profession</label>
            <input type="text" class="form-control" id="profession" name="profession" placeholder="name@example.com"
                formControlName="profession">
        </div>

        <div class="mb-3">
            <label for="ddn" class="form-label">Date de naissance</label>
            <input type="date" class="form-control" id="ddn" name="ddn" placeholder="name@example.com"
                formControlName="dateNaissance">
        </div>

        <div class="form-check-radio form-check-inline">
            <input class="form-check-input" type="radio" id="A" value="A" formControlName="typeCarte">
            <label class="form-check-label" for="A">A</label>
        </div>

        <div class="form-check-radio form-check-inline">
            <input class="form-check-input" type="radio" id="B" value="B" formControlName="typeCarte">
            <label class="form-check-label" for="B">B</label>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile" name="file" formControlName="image"
                (change)="onSelectedFile($event)">
            <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
            </div>
        </div>
        <input type="submit" class="btn btn-secondary" />
    </form>
</div>
 -->


<main class="bg-card">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg ">
                    <div class="card-header bg-info bg-gradient">
                        <h3 class="text-center font-weight-light text-light">CARTE PROFESSIONNELLE</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="nom-fr">Nom</label>
                                            <input class="form-control" type="text" id="nom-fr"
                                                formControlName="nomFr"
                                                [ngClass]="{'is-invalid': submitted && userForm.controls['nomFr'].errors}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6  text-end">
                                        <div class="form-group">
                                            <label class="form-label mb-1" for="nom-ar">الإسم العائلي</label>
                                            <input class="form-control arabic" type="text" id="nom-ar"
                                                formControlName="nomAr"
                                                [ngClass]="{'is-invalid': submitted && userForm.controls['nomAr'].errors}" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="form-label mb-1" for="prenom-fr">Prénom</label>
                                            <input class="form-control" type="text" id="prenom-fr"
                                                formControlName="prenomFr" 
                                                [ngClass]="{'is-invalid': submitted && userForm.controls['prenomFr'].errors}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6  text-end">
                                        <div class="form-group">
                                            <label class="form-label mb-1" for="prenom-ar"> الإسم الشخصي</label>
                                            <input class="form-control arabic" type="text" id="prenom-ar"
                                                formControlName="prenomAr"
                                                [ngClass]="{'is-invalid': submitted && userForm.controls['prenomAr'].errors}" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label mb-1" for="cin">Cin</label>
                                            <input class="form-control" type="text" formControlName="cin" 
                                            [ngClass]="{'is-invalid': submitted && userForm.controls['cin'].errors}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label mb-1" for="profession">Profession</label>
                                            <input class="form-control" type="text" id="profession"
                                                formControlName="profession"
                                                [ngClass]="{'is-invalid': submitted && userForm.controls['profession'].errors}" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group  mt-2">
                                <label class="form-label mb-1" for="dateNaissance">Date de naissance</label>
                                <input class="form-control" type="date" formControlName="dateNaissance"
                                [ngClass]="{'is-invalid': submitted && userForm.controls['dateNaissance'].errors}" />
                            </div>

                            <div class="form-group mt-3">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">Type de la carte</label>
                                    </div>
                                    <div class="col">
                                        <div class="form-check-radio form-check-inline">
                                            <input class="form-check-input" type="radio" id="A" value="A"
                                                formControlName="typeCarte">
                                            <label class="form-check-label  ms-2" for="A">A</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check-radio form-check-inline">
                                            <input class="form-check-input" type="radio" id="B" value="B"
                                                formControlName="typeCarte">
                                            <label class="form-check-label ms-2" for="B">B</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group  mt-2">
                                <label for="formFile" class="form-label">Image</label>
                                <input class="form-control" type="file" formControlName="image"
                                    (change)="onSelectedFile($event)"
                                    [ngClass]="{'is-invalid': submitted && userForm.controls['image'].errors}" />

                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button (click)="onSubmitForm()" type="button"
                                    class="btn btn-primary btn-lg col-12">Enregister</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>